emacs/.emacs.d/auto-save-list
emacs/.emacs.d/el-get
emacs/.emacs.d/elpa
emacs/.emacs.d/recentf
emacs/.emacs.d/*.elc
emacs/.emacs.d/work-init.el
emacs/.emacs.d/work-settings.el
emacs/.emacs.d/places
*~
