emacs/.emacs.d/auto-save-list
emacs/.emacs.d/el-get
emacs/.emacs.d/elpa
emacs/.emacs.d/recentf
emacs/.emacs.d/*.elc
emacs/.emacs.d/work-init.el
emacs/.emacs.d/work-settings.el
emacs/.emacs.d/eshell
emacs/.emacs.d/private
emacs/.emacs.d/places
emacs/.emacs.d/bookmarks
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/projectile.cache
xmonad/.xmonad/TAGS
xmonad/.xmonad/prompt-history
xmonad/.xmonad/xmonad.state
*~
